section.about
    .container
        +blockBox("What we do", "Story about us", "Consectetur adipisicing quos tenetur placeat unde laboriosam ultricies aptent adipisci sint felis, recusandae voluptatem rhoncus, maecenas! Mauris, nisi eleifend ridiculus praesent ipsam. Exercitation diamlorem, saepe facere facilis perferendis mauris!")
        .about-list 
            +aboutItem("images/img-about1.png", "supper team", "fa fa-users")
            +aboutItem("images/img-about2.png", "supper team", "fa fa-users")
            +aboutItem("images/img-about3.png", "supper team", "fa fa-users")
