section.story 
    .container 
        +blockBox("Our stories", "Latest blog")
        ul.story-list 
            +storyItem("images/img-blog1.png", "15", "Jan", "Lorem ipsum dolor sit met", "542", "17")
            +storyItem("images/img-blog2.png", "14", "Jan", "Sed do eiusmod tempor", "992", "42")
            +storyItem("images/img-blog3.png", "13", "Jan", "Incididunt ut labore et dolore", "1560", "98")
            