section.team 
    .container 
        +blockBox("Who we are", "Meet our team", "Molestias augue enim alias? Temporibus, fugiat natus porta mattis primis. Possimus diamlorem, hac sem? Harum, ultricies fringilla ultricies fusce rem! Dignissim deleniti lectus fames class quisquam necessitatibus earum, tempus!")
        .team-list 
            +teamItem("images/img-team1.png", "matthew dix", "Graphic Design")
                +teamSocial
            +teamItem("images/img-team2.png", "Christopher campbell", "Branding/UX design")
                +teamSocial
            +teamItem("images/img-team3.png", "Michael fertic", "Developer")
                +teamSocial
            