section.work 
    .container 
        +blockBox("What we do", "some of our work", "Perferendis cursus sit placeat penatibus provident habitant dolorum facilisis tincidunt, pariatur quasi beatae pede? Malesuada suspendisse dolorem nemo semper illum dolore. Alias animi labore fames?")
    .work-list
        .work-column
            +workItem("images/img-work1.png", "fa fa-home", "Creatively designed")
            +workItem("images/img-work2.png", "fa fa-home", "Creatively designed")
        .work-column
            +workItem("images/img-work3.png", "fa fa-home", "Creatively designed")
            +workItem("images/img-work4.png", "fa fa-home", "Creatively designed")
        .work-column
            +workItem("images/img-work5.png", "fa fa-home", "Creatively designed", "work-item--full")
        .work-column
            +workItem("images/img-work6.png", "fa fa-home", "Creatively designed")
            +workItem("images/img-work7.png", "fa fa-home", "Creatively designed")