.wedo {
    &-item {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        &-header {
            @include flex(center);
            padding: 1.5rem;
            border: 1px solid $gray-dark-color;
            cursor: pointer;
        }
        &-header.bg-secondary {
            @include bg($secondary-color);
        }
        &-icon {
            margin-right: 1.5rem;
        }
        &-title {
            text-transform: uppercase;
            font-weight: 500;
            color: $title-color;
        }
        &-arrow {
            margin-left: auto;
            color: $gray-dark-color;
        }
        &-content {
            border: 1px solid $gray-dark-color;
            border-top: 0;
            font-style: italic;
            font-weight: 300;
            color: $text-color;
            font-size: 1.5rem;
            font-family: $secondary-font;
            line-height: 1.4;
            text-align: justify;
            // display: none;
        }
        &-text {
            height: 13rem;
            overflow-y: auto;
            padding: 2rem;
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-track {
                border-radius: 6px;
                background-color: $gray-light-color;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $third-color;
                border-radius: 6px;
            }
        }
    }
    @include minWidth(768px) {
        padding: 11rem 0 12rem;
        &-container {
            @include flex(stretch, space-between);
        }
        &-image,
        &-content {
            width: calc(50% - 15px);
        }
        &-image {
            object-fit: cover;
        }
    }
    @include maxWidth(767px) {
        padding: 7rem 0;
        &-image {
            margin: 0 auto 2rem;
        }
    }
}